# URL for the imgproxy server
IMGPROXY_URL=http://imgproxy:8080
CACHE_DIR="./cache"
CACHE_ENABLED="True"
# This will only allow images from example.com and coolify.io to be resized.
# use "*" to allow all domains
ALLOWED_REMOTE_DOMAINS=example.com,coolify.io

# Optional: tint images with a colour for load-balancing visibility (hex without #, e.g. FF0000 red, 00FF00 green, 0000FF blue)
# SERVER_TINT_COLOR=FF0000